<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center"
        style="background-image: url(../../../../assets/img/hero/about.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Job Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- job post company Start -->
<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a><img [src]="jobs.image ? imageDirectory+jobs.image : 'assets/img/icon/job-list1.png'"
                                    alt="picture" height="100px"></a>
                        </div>
                        <div class="job-tittle">
                            <a routerLink="/">
                                <h4>{{ jobs.position }}</h4>
                            </a>
                            <ul>
                                <li>{{ jobs.company }}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{ jobs.location }}</li>
                                <li>Not Disclosed</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- job single End -->

                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                        <p>{{ jobs.message }}</p>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Required Knowledge, Skills, and Abilities</h4>
                        </div>
                        <ul>
                            <li>{{ jobs.message }}</li>
                            <li>Mobile Application in iOS/Android or other platform</li>
                            <li>Research and code , libraries, APIs and frameworks</li>
                            <li>Strong knowledge on software development life cycle</li>
                            <li>Strong problem solving and debugging skills</li>
                        </ul>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Education + Experience</h4>
                        </div>
                        <ul>
                            <li>3 or more years of professional design experience</li>
                            <li>Direct response email experience</li>
                            <li>E-commerce website design experience</li>
                            <li>Familiarity with mobile and web apps preferred</li>
                            <li>Experience using Invasion a plus</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>{{ jobs.created_at }}</span></li>
                        <li>Location : <span>{{ jobs.location }}</span></li>
                        <li>Vacancy : <span>02</span></li>
                        <li>Job nature : <span>Full time</span></li>
                        <li>Salary : <span>Not Disclosed</span></li>
                        <li>Application date : <span>12 Sep 2020</span></li>
                        <li>Pdf : <img [src]="imageDirectory+jobs.pdf" alt="pdf"></li>
                    </ul>
                    <div class="apply-btn2">
                        <a href="{{ jobs.job_link }}" target="_blank"  class="btn">Apply Now</a>
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <span>Jeedie</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <ul>
                        <li>Name: <span>Jeedie </span></li>
                        <li>Web : <span>jeedie.co.tz</span></li>
                        <li>Email: <span>info@jeedie.co.tz</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->