<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Job Post</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Job Post</li>
            </ol>
        </nav>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Job Post Form</h4>
                    <form class="forms-sample">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Position</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputUsername2"
                                    placeholder="Job Position">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Hirer</label>
                            <div class="col-sm-9">
                                <input type="test" class="form-control" id="exampleInputEmail2"
                                    placeholder="Company | Institution">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Location</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputMobile"
                                    placeholder="Job Location">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputMobile1" class="col-sm-3 col-form-label">Pdf</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" id="exampleInputMobile1" placeholder="Pdf">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputMobile2" class="col-sm-3 col-form-label">Image</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control" id="exampleInputMobile2" placeholder="Image">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleTextarea" class="col-sm-3 col-form-label">Textarea</label>
                            <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-gradient-primary me-2 float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>