<!-- Featured_job_start -->
<section class="featured-job-area mt-3">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-tittle text-center">
                    <h2>Featured Jobs</h2>
                </div>
            </div>
            <div class="col-md-4 text-center" *ngIf="jobCats">
                <h4>Job Categories</h4>
                <div class="main">
  
                    <!-- Variation with a button -->
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search this blog">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  
                <div class="section-tittle text-center" *ngFor="let jobCat of jobCats">
                    <span class="btn btn-secondary">{{ jobCat.name }}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12" *ngIf="jobs">
                <!-- single-job-content -->
                <owl-carousel-o [options]="getAllJobs">
                    <ng-template carouselSlide *ngFor="let job of jobs">
                        <div class="container">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" [src]="job.image ? imageDirectory+job.image : 'assets/img/icon/job-list1.png'"
                                    alt="Card image" style="width:100%" height="300px">
                                <div class="card-body" style="text-align: center;">
                                    <h4 class="card-title">{{ job.position }}</h4>
                                    <p class="card-text">{{ job.message }}</p>
                                    <a routerLink="" class="btn btn-primary stretched-link">View Job</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
                <!-- End Single-job-content -->
            </div>

            <div class="col-xl-10" *ngIf="jobs.length <= 0;">
                <div class="alert alert-danger">
                    <p><strong>Oops! No jobs posted yet.</strong></p>
                    <p>A few things might help:</p>
                    <p>1. Make job post <a routerLink="/" class="alert-link">here</a></p>
                    <p>2. Server Error</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->