<!-- Featured_job_start -->
<section class="featured-job-area mt-3">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-tittle text-center">
                    <h2>Featured Jobs</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-tittle text-center">
                    <h4>Job Categories</h4>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <!-- single-job-content -->
             
                        <owl-carousel-o [options]="getAllJobs">
                            <ng-template carouselSlide>
                               
                            </ng-template>
                        </owl-carousel-o>
                     
              

            </div>
            <div class="col-xl-10">
                <div class="alert alert-danger">
                    <p><strong>Oops! No jobs posted yet.</strong></p>
                    <p>A few things might help:</p>
                    <p>1. Make job post <a routerLink="/" class="alert-link">here</a></p>
                    <p>2. Server Error</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->