<!-- Featured_job_start -->
<section class="featured-job-area mt-3">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-tittle text-center">
                    <h2>Featured Jobs</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-tittle text-center">
                    <h4>Job Categories</h4>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                    <p>Job Categories</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <!-- single-job-content -->
             
                        <owl-carousel-o [options]="getAllJobs">
                            <ng-template carouselSlide>
                                <div class="container">
                                    <h2>Stretched Link in Card</h2>
                                    <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will act as a link):</p>
                                    <div class="card" style="width:400px">
                                      <img class="card-img-top" src="assets/img/testmonial/testimonial-founder.png" alt="Card image" style="width:100%">
                                      <div class="card-body">
                                        <h4 class="card-title">John Doe</h4>
                                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                        <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                                      </div>
                                    </div>
                                  </div>
                            </ng-template>
                        </owl-carousel-o>
                     
              

            </div>
            <div class="col-xl-10">
                <div class="alert alert-danger">
                    <p><strong>Oops! No jobs posted yet.</strong></p>
                    <p>A few things might help:</p>
                    <p>1. Make job post <a routerLink="/" class="alert-link">here</a></p>
                    <p>2. Server Error</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->