<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Job Post</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Job List</li>
            </ol>
        </nav>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-9 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Job List</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Skills</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jacob</td>
                                <td>PhotoShop</td>
                                <td>PhotoShop</td>
                                <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                                <td>
                                    <label class="badge badge-info">View</label>
                                    <label class="badge badge-warning">Edit</label>
                                    <label class="badge badge-danger">Delete</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>